$team-color: hsl(0, 78%, 62%);
$sup-color: hsl(180, 62%, 55%);
$karma-color: hsl(34, 97%, 64%);
$calc-color: hsl(212, 86%, 64%);

$dark-blue: hsl(234, 12%, 34%);
$gray-blue: hsl(229, 6%, 66%);
$light-gray: hsl(0, 0%, 98%);
